.App {
  text-align: center;
  display: grid;
}

.us-state-map{
  
}

body{
  background-color: black;
}
h1,h2{
  color:white;
}
h2{position: absolute; justify-content: center;}
.App{position: relative;}


g:hover>path,g:hover>circle {
  stroke-width: 2;
  stroke:rgb(238, 2, 2);
  fill:rgb(238, 2, 2);
  -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
100% { opacity: 1; }
}

@keyframes fadeinout {
0% { opacity: 1; }
}
path,circle{
  fill: black;
  stroke:#242323;
  stroke-width: 1;
}

form,.formwrapper{
  width:200px;
}
input{
  width:200px;
  height:20px;
  margin:0px;
  border:0px;
  background-color: white ;
}
ul,li,button{
  list-style: none;
  justify-content: left;
  padding:0px;
  margin:0px;
}

button{
  text-align: left;
  width:200px;
  height:20px;
  margin-left:10px;
}
.searchfield{
  overflow-y: scroll;
  border: 0px;
  min-height: auto;
  max-height: 100px;
  width: 200px;
  margin:0;
  padding:0;
  background-color: white;
}
.searchfield::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.searchfield {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.timer{
  margin:5px 100px;
  padding:5px 5px;
}