.App {
  text-align: center;
  display: grid;
}

.us-state-map{
  
}

body{
  background-color: black;
}
h1,h2{
  color:white;
}
h2{position: absolute; justify-content: center;}
.App{position: relative;}


g:hover>path,g:hover>circle {
  stroke-width: 2;
  stroke:rgb(238, 2, 2);
  fill:rgb(238, 2, 2);
  -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
100% { opacity: 1; }
}

@keyframes fadeinout {
0% { opacity: 1; }
}
path,circle{
  fill: black;
  stroke:#242323;
  stroke-width: 1;
}

form,.formwrapper{
  width:200px;
  margin-left:100px;
}
input{
  display:flex;
  width:200px;
  height:20px;
  border:3px;
  border-color:rgb(253, 2, 2);
  border-radius: 3px 3px ;
  background-color: white ;
  outline:none;
}
ul,li{
  list-style: none;
  justify-content: left;
  padding:0px;
  margin:0px;
  border:0px rgb(165, 165, 165);
  border-radius: 3px 3px;
  width:204px;
  border-radius: 20px;
}


button{
  text-align: left;
  width:204px;
  height:23px;
  margin: 0;
  padding:0 0 0 10px;
  border:0;
  background-color: white;
}
button:hover{
  background-color: lightgray;
}
.searchfield{
  box-shadow:0px 0px 5px lightblue ;
  overflow-y: scroll;
  border: 3px;
  min-height: auto;
  max-height: 112px;
  width: 204px;
  margin:0;
  margin-top: -2px;
  padding:0;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  border-color: rgba(228, 29, 29, 0.493);
  
}
.searchfield::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.searchfield {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.timer{
  margin:5px 100px;
  padding:5px 5px;
}