body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-size: 1.4rem;
  margin:30px 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  /*used coolors.co palette*/
  --darkBlue:#1D3557;
  --lightBlue:#457B9D;
  --green: #A8DADC;
  --cream:#f4faf2;
  --red:#E63946;
  --shadow:0 2px 20px #534c4c;
  --grey:#c3c3c3;
  --lightgrey:#e9e9e9;
   box-sizing: border-box;
  font-family: Arial, Helvetica, san-serif;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
header{
  display:flex;
  position: fixed;
  flex-wrap: wrap;
  top:0;
  right:0;
  left:0;
  width:100%;
  z-index: 99999;
  background-color: #fff;
  justify-content:center;
  align-items: baseline;
  border-bottom:1px solid var(--grey);

}
  .deadTitle{
    padding-left:7rem;
  }
  .headerTitle {
    flex:none;
    align-self:flex-start;
    margin-right:4em;
  }
   .headerTitle h1{
    margin-left:-2em;
    margin-bottom:0px;
  }
  .headerTitle p{
    margin-top: .125em;
    margin-right:-2em;
    text-align: right;
  }
  .headerNav{
    align-self:center;
    width:auto;
  }
  .headerNav ul{
    margin:10px;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .headerNav li{
    margin: 0em 1.9em;
    list-style: none;
    display: inline-flex;
  }
  .headerNav li:hover{
    cursor: pointer;
  }
  .hamburger{
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 40px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-size: 100%;
  }
  .showNav {
  /* show the menu */
  transform: translateY(0);
}
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }
  /*main*/
  .homePage{
  padding-top:0px;
  display:grid;
  gap:20px;
  grid-template-columns:repeat(auto-fit,minmax(600x,1fr));
  grid-template-areas:
  "hero hero hero"
  "info info info";
}

  .heroContainer{
    grid-area:hero;
    padding-left: 20rem;
    margin-top:-12rem;
    width:fit-content;
    justify-self: center;

  }
  main img{
    position: relative;
    margin-left: minmax(auto,20em);
    box-shadow: var(--shadow);
    max-width: 800px;
    width:100%;
    z-index: 1;
  }
  main .peopleCard{
    top:45%;
    right:40%;
    margin:0px 150px 0px 0px;
    padding:1em;
    position: relative;
    z-index: 2;
    max-width:400px;
    min-width:300px;
    height: auto;
    background-color: white;
    box-shadow: var(--shadow);
  }
  main .peopleCardInfo{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    margin:0;
  }
  main button{
    cursor: pointer;
    font-size: 1.2rem;
    margin: 1rem 0;
    background-color: var(--darkBlue);
    color: var(--lightgrey);
    height:40px;
    text-align:center;
    border-radius: 10px;
    outline:none;
  }
  button:hover{
    color:var(--darkBlue);
    background-color:var(--lightgrey);
  }
  main .people{
    display:flex;
    flex-wrap: wrap;
    width:fit-content;
  }
  main .sinceVisit{
    border-top:1px solid var(--grey);
  }
  main .infoCardContainer{
    grid-area: info;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .infoCard{
    flex:none;
    margin:2em;
    padding:1em;
    height:400px;
    max-width:400px;
    box-shadow: var(--shadow);
  }
footer{
  grid-area: footer;
}

  .searchWrapper{
    z-index: 0;
  }
  .searchWrapper input{
    width:200px;
    height:20px;
    border:3px;
    border-color:rgb(41, 37, 37);
    border-radius: 3px 3px ;
    outline:none;
  }
  button .suggestion{
    text-align: left;
    width:204px;
    height:23px;
    margin: 0;
    padding:0 0 0 10px;
    border:0;
    background-color: white;
  }
  button:hover{
    background-color: lightgray;
  }
  

  .searchfield ul, .searchfield li{
    list-style: none;
    justify-content: left;
    padding:0px;
    margin:0px;
    border:0px rgb(165, 165, 165);
    border-radius: 3px 3px;
    width:204px;
    border-radius: 20px;
  }
  .searchfield{
    overflow-y: scroll;
    border: 3px;
    min-height: auto;
    max-height: 112px;
    width: 204px;
    margin:0;
    margin-top: -2px;
    padding:0;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    border-color: rgba(228, 29, 29, 0.493);
  }
  .searchfield::-webkit-scrollbar,.stateDeaths::-webkit-scrollbar{
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .searchfield,.stateDeaths {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

/*results from search*/
.stateDeaths{
  padding-top:10px;
  justify-content: auto;
  height:650px;
  overflow-y:scroll;
  grid-area:stateDeaths;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--red);
}
.stateDeaths h2{
  position:fixed;  
}
.stateDataCard{
  background-color: var(--lightBlue);
  color: var(--green);
}